.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text {
  .arial;
  color: @main-text-color;
}

.container {
  .wrapper(20px);
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    .wrapper(30px);
    max-width: 708px;
  }

  @media (min-width: @desktop-width) {
    .wrapper(55px);
    max-width: 1220px;
  }
}
