.technology {
  padding-bottom: 49px;
}

.technology__title {
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
}

.technology__list {
  .list-none;
}

.technology__discription {
  font-size: 14px;
  line-height: 18px;
}
